* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    min-height: 100vh;
}

/* HEADER */
header {
    background: #0f2027;
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    margin-bottom: 10px;
}

/* MENÚ */
nav a {
    color: #00d4ff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: white;
    border-bottom: 2px solid white;
}

/* CONTENIDO */
section {
    background: white;
    width: 85%;
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    animation: aparecer 0.5s ease-in;
}

h2 {
    margin-bottom: 20px;
    color: #243b55;
}

/* TABLA */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background: #243b55;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* FORMULARIO */
input {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
}

input[type="submit"] {
    background: #243b55;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #141e30;
}

/* ANIMACIÓN */
@keyframes aparecer {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}
i {
    margin-right: 8px;
    color: #243b55;
}
nav a.activo {
    color: white;
    border-bottom: 2px solid #00d4ff;
}
